@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;

    height: 100vh;
    background-image: url('./assets/bg-dark.png');
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
}

.header {
    background-color: rgb(255, 255, 255);   
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    border-bottom: #333 5px solid;
}

.header img {
    width: 30%;
    height: 70%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.search-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    padding: 10px 40px 10px 10px;
}

.search-bar {
    border: 0px;
    width: 100%;
    font-size: 16px;
}

.search-bar:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #aaa;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    height: 400px;
    width: 300px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-img {
    height: 250px;
    width: 300px;
    object-fit: contain;
    display: block;
    padding-top: 10px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1rem;
    margin: 0 0 0.5rem;
}

.card-price {
    color: #8b8b8b;
    margin: 0 0 0.5rem;
}

.card-status {
    color: #00aa00;
    margin: 0;
}

.card.unavailable .card-title,
.card.unavailable .card-price,
.card.unavailable .card-status {
    text-decoration: line-through;
    color: #888;
}

.card.unavailable .card-img {
    filter: grayscale(100%);
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 250px;
}

.footer p {
    margin: 0 0 0.5rem;
}

.social-icons a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}

.form-container {
    background-color: #e0e0e0;
    height: 500px;
    padding: 1rem;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin: 0.5rem 0;
}

form input {
    display: block;
    width: 280px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
}

form button {
    display: block;
    width: 300px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
}

form select {
    display: block;
    width: 300px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: 1rem;
}

.fixed-info {
    height: 130px;
    width: 40%;
    background-color: #00000079;
    color: white;
    text-align: center;
    padding: 2px 10px 15px;
    margin-bottom: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.fixed-info button {
    background-color: #ffffff00;
    color: #fff;
    border: none;
    cursor: pointer;



}

.fixed-info button i {
    margin-right: 5px;
}

@media screen and (max-width: 1280px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .fixed-info {
        height: 120px;
        width: 50%;
    }
}

@media screen and (max-width: 932px) {
    .fixed-info {
        height: 150px;
        width: 55%;
    }

    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("");
        background-color: #e0e0e0;
    }

    .header img {
        width: 70%;
        height: 80%;
    }
    
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin: 10px;
        height: 400px;
        width: 95%;
    }
    
    .card-img {
        height: 270px;
        width: 100%;
    }
    
    .fixed-info {
        height: 160px;
        width: 60%;
    }

    .footer {
        z-index: 999;
        position: absolute;
    }

    @media screen and (max-width: 400px) {
        .fixed-info {
            height: 130px;
            width: 50%;
            font-size: 8pt;
        }    
    }
}